@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.main{
    background-color: #101616;

}

.container1{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 1100px;
    flex-wrap: wrap;
   
    border-radius: 4%;
}

.box{
    width: 500px;
    background: #ABCF2F;
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 15px;
}

.box-img{
    border-radius: 50%;
}

.box h2{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box h3{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
    text-decoration: underline;
}

.box p{
    text-align: justify;
}

.box ul{
    list-style: none;
    margin-top: 20px;
}

.box ul li{
    display: inline-block;
}

.box ul li a{
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    display: block;
    transition: all 0.5s ease-in-out;
}

.box ul li a:hover{
    color: #b9b9b9;
    transform: scale(1.1);
}