*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.texto-cambio h2{
font-size: 80px;
margin: 0;
padding: 0;
}

.texto-cambio h1{
    margin: 0;
    padding: 0;
font-size: 100px;
}
main{
    background-color: #101616;
    
}
.texto-cambio p{
font-size: 17px;
margin: 0;
padding: 0;
}

.texto-cambio a{
text-decoration: none;
color: black;
background-color: green;
padding: 20px;
display: inline-block;
margin-top: 20px;
text-align: center;
}
.texto-primera{
    margin-top: 40px;
}
.texto-primera h2{
    font-size: 70px;
}
.margin{
    margin-top: 10000px;
}
.titulo{
    margin-top: 130px;
}
.titulo h2{
text-align: center;
font-size: 70px;

}
.parrafo-titulo p{
text-align: center;
font-size: 35px;
padding: 40px;
}
.parrafo-clases h3{
text-align: center;
}
.color{
    color: green;
    font-size: 18px;
}

.color span{
    color: white;
    margin-left: 10px;
}
.border-bajo{
    border-bottom: 1px solid red;
    width: 20%;
   display: inline-block;
   padding-bottom: 10px;
}
.caja-padre-form{
    display: flex;
    justify-content: center;
}
.form-cambio{
    background-color: gray;
    padding: 50px;
    width: 50%;
    margin-bottom: 70px;
}